pip install django
pip install python-dotenv
pip install requests
pip install google-api-python-client
pip install google-auth
pip install google-auth-oauthlib
pip install google-auth-httplib2
pip install pypdf
pip install python-docx
pip install pillow
pip install celery
pip install redis

cd my_automation
